<div class="dashboard-container">
  <mat-card class="filters-card">
    <mat-form-field appearance="fill">
      <mat-label>Тип проблемы</mat-label>

      <mat-select [(value)]="selectedType" (selectionChange)="applyFilters()">
        <mat-option value="">Все</mat-option>

        @for (t of types; track t) {
        <mat-option [value]="t"> {{ typeLabels[t] }} </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Статус</mat-label>

      <mat-select [(value)]="selectedStatus" (selectionChange)="applyFilters()">
        <mat-option value="">Все</mat-option>
        @for (status of statuses; track status) {
        <mat-option [value]="status"> {{ statusLabels[status] }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-card>

  <div class="map-layout">
    <div id="map" class="map-container"></div>

    @if(isComplaintFormOpen() && selectedLat && selectedLng) {
    <app-complaint-form
      class="complaint-panel"
      [lat]="selectedLat"
      [lng]="selectedLng"
      [address]="selectedAddress()"
      (formSubmit)="submitComplaint($event)"
      (formCancel)="closeComplaintForm()"
    ></app-complaint-form>
    }
  </div>
</div>
