:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-icon {
  width: 128px;
  height: 128px;
  font-size: 128px;
  font-weight: 200;

  &__success {
    color: #25eb4d;
  }

  &__error {
    color: #eb5025;
  }
}

.resend-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  min-width: 280px;
}

.resend-message {
  margin-top: 16px;

  &__error {
    color: #eb5025;
  }
}
