.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filters-card {
  display: flex;
  gap: 16px;
  padding: 16px;
  align-items: center;
  .cdk-overlay-pane {
    background-color: #FFF;
  }
}

.map-container {
  height: 600px;
  width: 100%;
}

.leaflet-control-attribution {
    display: none;
}

.create-complaint-button {
  background-color: #2563eb;
  border: none;
  border-radius: 6px;
  height: 30px;
  color: white;
  padding: 0 10px;
}