@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: 'Open Sans',
      density: 0,
    )
  );
}

body {
  font-family: 'Open Sans', sans-serif;
}
